{% extends 'base.html'%}
{% block content %}
    <div class="container">
        <div class="box">
            <div class="head_text heading text-center">
                <p class="main-title-home"> Создание новой организации</p>
            </div>
           <form action="{% url 'organization_add' %}" enctype="multipart/form-data" method="POST">
               {% csrf_token%}
               <div class="form">
                    {% include 'partials/organization_form.html' with button_text='Добавить организацию' %}
               </div>
           </form>
        </div>
    </div>
{% endblock %}