{% extends 'base.html'%}
{% block content %}
    {% if error_text is not None %}
        <h1 style="color: red;">{{ error_text }}</h1>
    {% endif %}
<div class="row mt-5">
    {%for organization in organizations %}
    <div class="col-sm-12">
          <div class="row no-gutters" >
            <div class="col-md-4">
                {% if organization.org_logo %}
              <img src="{{organization.org_logo.url}}" class="card-img" style="width:120px;height: 120px;" alt="">
              {% endif %}
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{organization.organization}}</h5>
                <h5 class="card-title">{{organization.bin}}</h5>
                 
                  <div class="container">
                      <div class="row">
                          <div class="col-sm">
                           
                        </div>
                          {% if request.user.is_authenticated%}
                          {% if request.user.username == organization.responsible.username or request.user.role == 2 %}
                        <div class="col-sm">
                           <a href="{% url 'organization_edit' organization.pk %}">Изменить</a>
                        </div>
                          {% endif %}
                          {% if request.user.role == 2 %}
                          
                        <div class="col-sm">
                            <form action="{% url 'organization_delete' organization.pk %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary btn-sm mr-5">Удалить</button>
                        </form>
                        </div>
                          {% endif %}
                    
                          {% endif %}
                      </div>
                    </div>
              </div>
            </div>
          </div>
    </div>
   {% endfor %}
    {% endblock %}

</div>


<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<script>

    $('.my_class ').click(function (e) {
        e.preventDefault();
        console.log("HHelleeeeee")
        const imageId = $(this).data('image-id')
        $(this).remove()

        console.log(imageId)
        $.ajax({
            url: `http://localhost:8000/api/image/${imageId}/tofav/`,
            type: "POST",
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                if (data.result === 'Photo added to favorite') {
                    console.log('hello')
                    let divBtn = $('#add_btn');
                    let btnFav = document.createElement('button')
                    btnFav.className="btn btn-secondary btn-sm mr-5";
                    btnFav.type="submit";
                    btnFav.id="add";
                    btnFav.innerText="Удалить из избранного";
                    divBtn.append(btnFav);




                } else {
                    console.log('deleted')
                }

            },
            error: function (data) {
                console.log('error')
            }
        });
    })
 $('.my_remove').click(function (e) {
        e.preventDefault();
        $(this).remove()
        const imageId = $(this).data('image-id')
        console.log(imageId)
        $.ajax({
            url: `http://localhost:8000/api/image/${imageId}/removefav/`,
            type: "POST",
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                if (data.result === 'Photo removed to favorite') {
                    let divBtn = $('#remove_btn');
                    let btnFav = document.createElement('button')
                    btnFav.className="btn btn-secondary btn-sm mr-5";
                    btnFav.type="submit";
                    btnFav.id="remove";
                    btnFav.innerText="Добавить в избранное";
                    divBtn.append(btnFav);
                } else {
                    console.log('deleted')
                }

            },
            error: function (data) {
                console.log('error')
            }
        });
    })

</script>